<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="OBSProfileDir" value=".\config\obs-studio\basic\profiles\智播客OBS配置文件\" />
    <add key="OBSSceneSettingDir" value=".\config\obs-studio\basic\scenes\" />
    <add key="ProfileServiceFileName" value="service.json" />
    <add key="SceneSettingFileName" value="智播客在线课堂场景集合" />
    <add key="OBSExecutableDir" value=".\bin\64bit\" />
    <add key="OBSExecute" value="obs64.exe" />
    <add key="GetMessageURL" value="http://10.196.83.83:8080/ZhiBoKe/DanMuServlet" />
    <add key="GetFocusURL" value="http://10.196.83.83:8080/ZhiBoKe/FocusServlet" />
    <add key="GetStudentNumServletURL" value="http://10.196.83.83:8080/ZhiBoKe/StudentNumServlet" />
    <add key="DBDirectory" value=".\" />
    <add key="DBExecute" value="DrawingBroad.exe" />
    <add key="TeacherInfoURL" value="http://localhost:56692/Page1.html" />
    <add key="StartStreamLinkTxt" value="#Start" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>